$primary-color: #20a8d8;
$secondary-color: #c8ced3;
$success-color: #4dbd74;
$danger-color: #f86c6b;
$light-color: #f0f3f5;
$dark-color: #2f353a;
$shadow-color: #acb4bc;
$max-width: 1100px;

// Set text color based on the background
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #333;
  } @else {
    @return #ffffff;
  }
}

// Set background and text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
